@media only screen and (max-width:1550px)
{
    .f-header .btn{
        /* margin-bottom: 30px; */
    }
    .right-header {
        margin-left: 30px;
    }
    .left-header img{
        width: 600px;
    }
    .f-header{
        font-size: 17px;
    }
    .login-box{
        left: 60%;
        top: 55%;
    }
    #chartContainer1{
        /* margin-left: 700px;
        max-width: 100%;
        height: 300px;
        background-color: black; */
    }
}