*{
    box-sizing: border-box;
}
html body{
    /* margin:0;
    padding: 0; */
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
body{
    /* background-color: white; */
    margin: 0;
    padding: 0;
    /* background: linear-gradient(#141e30, #243b55); */
}
.header{
    display: flex;
    justify-content: space-between
}
/*----------- Logo ---------------*/
.Logo{
    /* flex-basis: 30%; */
    margin: 12px 100px;
    display: block;
    max-width:140px;
    max-height:95px;
    /* width: auto;
    height: auto; */
}
.Logo2{
    margin: 15px 100px;
    display: block;
    max-width:100px;
    max-height:50px;
}
/*------------------- information form ------------- */
/* form{
    margin: 30px 40px;
} */
.login-box {
    position: absolute;
    top: 55%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-200%, -65%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }
  
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .login-box a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  }
  
  .login-box a span {
    position: absolute;
    display: block;
  }
  
  .login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }
  /* .login-box form{
    width: 100px;
  } */
/* -----------------btn ------------------------- */
.panel.panel-primary{
    opacity: 0;
    display: inline;
    width: 100px;
  }
  /* -----------------menu----------------------- */
  #menu ul {
    background: #1F568B;
    list-style-type: none;
    text-align: center;
  }
  #menu li {
    color: #f1f1f1;
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    margin-left: -5px;
  }
  #menu a {
    text-decoration: none;
    color: #fff;
    display: block;
  }
  #menu a:hover {
    background: #F1F1F1;
    color: #333;
  }
  
  /*==Dropdown Menu==*/
  .sub-menu {
    display: none;
    position: absolute;
  }
  #menu li {
    position: relative;
  }
  #menu li:hover .sub-menu {
    display: block;
  }
  .sub-menu li {
    margin-left: 0 !important;
  }
  
  /*==Menu cấp 3==*/
  .sub-menu > ul {
    display: none !important;
  }
  /* ------------icon--------------- */
  .fas.fa-caret-down{
    margin-left: 10px;
  }
  /* --------------Home page ----------------- */
  /* ------------------------------------------ */
  /* ---------------Header--------------------- */
  .f-header .btn{
    background-color: #2571d6;
    color: white;
    font-weight: 600;
    margin-top: 30px;
    border-radius: 10px ;
    padding: 10px 20px;
  }
  .f-header .link{
    margin-top: 20px;
  }
  .f-header{
    color: black;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    background: rgb(211, 231, 253) ; 
  }
  .f-header p{
    margin-top: 20px;
    color: black;
  }
  .right-header{
    margin-top: 20px;
  }
  #chartContainer1{
    margin-left: 900px;
    height: 300px;
    max-width: 40%;
  }
  #chartContainer2{
    margin-left: 1000px;
    height: 400px;
    max-width: 33%;
  }
/* -----------------Content------------------- */
.content-layout{
  padding: 12px 0;
  display: flex;
}
.content-one{
  flex:1;
}
.content-two{
  flex:1;
}
.content-three{
  flex: 1;
}
.column-item{
  padding: 0 50px;
}
.column-item p{
  margin-top: 10px;
}